@import "colors";

:host {
  input[readonly], textarea[readonly] {
    opacity: 100% !important;
  }
}

.item-dropdown {
  background-color: $colorSecondary;
  color: $colorPrimary;
  font-size: 15px;
}

.item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding: 3px;

  &:hover:not([selected]), &.selected {
    background-color: $colorSupplementaryPastel;
  }

  &:hover.selected {
    background-color: $colorSupplementaryPastelHover !important;
  }
}

.add-button {
  display: flex;
  align-items: center;
}

.separated-item-btn {
  display: inline-flex;
  padding: 2px 6px;
  background-color: $colorSecondary;
  color: $colorPrimary;
  border-radius: 16px;
}

.remove-separated-item {

  &:hover {
    color: $colorSupplementaryBright;
  }
}
