@import "colors";

.search {
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vh 2vh 0;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid $colorPrimary;
}

.scrollable-container {
  height: 100% !important;
}

.added-by-user {
  margin-top: 15px;
  margin-left: 6px;

  input {
    margin-top: 2px;
  }

  label {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
