$colorPrimary: #345B80;
$colorPrimaryHover: #2c6194;
$colorPrimaryTransparent1: rgba(52, 91, 128, 0.6);
$colorPrimaryTransparent2: rgba(170, 189, 204, 0.6);
$colorPrimaryTransparent3: rgba(237, 242, 246, 0.6);
$colorSecondary: #F3F9FF;
$colorSecondaryHover: #e6f1ff;
$colorSupplementaryBright: #2c97ff;
$colorSupplementaryPastel: #7FBEF8;
$colorSupplementaryPastelHover: #77b6f3;
$colorErrorPrimary: #982454;
$colorErrorSecondary: #fff3f9;
