<div class="menu-sidebar" [class.hidden]="isHidden">
    <div *ngIf="!isHidden">
        <div class="menu-logo">
            <p>{{'menu.label.logo' | translate }}</p>
            <p class="menu-logo-fill">{{'menu.label.logoFill' | translate }}</p>
        </div>
        <nav class="menu-items">
            <ul>
                <li>
                    <span class="material-symbols-outlined menu-icon">demography</span>
                    <a routerLink="my-quotes"
                       routerLinkActive="active">
                        {{'menu.label.myQuotes' | translate }}
                    </a>
                </li>
                <li>
                    <span class="material-symbols-outlined menu-icon">manage_search</span>
                    <a routerLink="">
                        {{'menu.label.searchQuotes' | translate }}
                    </a>
                </li>
                <li>
                    <span class="material-symbols-outlined menu-icon">library_books</span>
                    <a routerLink="">
                        {{'menu.label.library' | translate }}
                    </a>
                </li>
                <li>
                    <span class="material-symbols-outlined menu-icon">screencast</span>
                    <a routerLink="">
                        {{'menu.label.quotesLine' | translate }}
                    </a>
                </li>
                <li>
                    <span class="material-symbols-outlined menu-icon">bookmarks</span>
                    <a routerLink="">
                        {{'menu.label.favorites' | translate }}
                    </a>
                </li>
                <li class="content-space-between">
                    <a routerLink="">
                        {{'menu.label.groups' | translate }}
                    </a>
                    <span class="material-symbols-outlined menu-icon">add</span>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="menu-items">
        <ul>
            <li *ngIf="!isHidden">
                <div class="d-flex"
                     dropdown
                     dropdownToggle
                     [dropup]="true">
                    <span class="material-symbols-outlined menu-icon">translate</span>
                    <a class="d-flex align-items-center pl-15">{{'menu.label.changeLanguage' | translate}}</a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li *ngFor="let locale of locales"
                            (click)="setLocale(locale)">
                            {{locale}}
                        </li>
                    </ul>
                </div>
            </li>
            <li *ngIf="!isHidden">
                <span class="material-symbols-outlined menu-icon">logout</span>
                <a routerLink="">
                    {{'menu.label.signOut' | translate }}
                </a>
            </li>
            <li class="visibility-toggler">
                <span class="material-symbols-outlined menu-icon"
                      (click)="isHidden ? show() : hide()">
                {{isHidden ? 'arrow_forward_ios' : 'arrow_back_ios'}}
                </span>
            </li>
        </ul>
    </div>
</div>

